.definition-graph-node {
  width: 35px;
  height: 35px;
  background-color: orange;
  margin: 31px auto auto;
  border-radius: 50%;
  padding: 7px;
  color: white;
  font-weight: bold;
  text-align: center;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease-in-out;

  &.isSelected {
    width: 50px;
    height: 50px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    padding: 13px;
  }
}

.remove-node-button {
  background-color: #dc3545;
  color: white;
  background-color: #dc3545;
  position: absolute;
  border-radius: 50% !important;
  width: 20px;
  height: 20px;
  padding: 0 0 0 6px !important;
  right: 26px;
  top: 31px;
  &:after {
    content: 'x';
    position: absolute;
    left: 5px;
    top: -4px;
  }
}
