google-cloud-sdk
node_modules
build
dist-dev/
dist-prod/
.fusebox
credentials.json
src/server/config.ts
deploy.sh
vietnamese-english-7671cb1a0c63.json
definitions.json
google-cloud-platform-service-account-key.json
/jest/.jest
src/server/translate/key.json
