.node-translation {
  color: gray;
  width: 200px;
  pointer-events: none;
  font-size: 15px;
}

g.node {
  overflow: visible;
  svg {
    overflow: visible;
    foreignObject {
      overflow: visible;
    }
  }

  &:hover .node-translation {
    color: black;
    font-weight: bold;
  }
}

.node-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  white-space: nowrap;
  align-items: center;
}
